/* #################### */
/* Presets              */
/* #################### */
:root {
    --color-primary: #8bbaed;
    --color-secondary: #b8c3d1;
    --color-text-primary: #555555;
    --color-text-secondary: #ffffff;
    --color-background-light: #f4f4f4;
    --color-background-dark: #333333;
}

/* #################### */
/* Main Elements        */
/* #################### */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body {
    background-color: var(--color-background-light);
    color: var(--color-text-primary);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    margin: 0;
}

header {
    width: 100%;
    height: 53;
    text-overflow: hidden;
    background-color: var(--color-background-dark);
    color: var(--color-text-secondary);
    position: fixed;
}

main {
    margin: auto;
    max-width: 900px;
    border-left: 6px solid var(--color-primary);
    padding-top: 50px;
    padding-bottom: 50px;
}

footer {
    text-overflow: hidden;
    background-color: var(--color-background-dark);
    color: var(--color-text-secondary);
    position: static;
    bottom: 0;
    padding-top: 10px;
    min-height: 50px;
}

.container {
    overflow: hidden;
    padding-right: 5px;
}

.container h2 {
    text-decoration: none;
    color: var(--color-background-light);
    background-color: var(--color-background-dark);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 4px;
    padding-bottom: 10px;
    padding-left: 8px;
}

.paragraph {
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

/* #################### */
/* Link Buttons         */
/* #################### */

a {
    padding: 8px;
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-background-light);
    border-radius: 5px;
}

a:hover {
    background-color: var(--color-secondary);
    color: var(--color-text-primary);
}

/* #################### */
/* Header               */
/* #################### */
header a, header a:hover {
    color: inherit;
    background-color: inherit;
}

.nav-bar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    border-radius: 0px;
}

.nav-bar a:hover {
    background-color: var(--color-secondary);
    color: var(--color-text-primary);
}

.nav-bar a.active {
    background-color: var(--color-primary);
}

.nav-bar {
    max-width: 900px;
    margin: auto;
}

/* #################### */
/* Code Blocks          */
/* #################### */

code {
    background-color: var(--color-text-secondary);
    display: block;
}

pre {
    overflow:auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* #################### */
/* Specifics            */
/* #################### */
.heading-button {
    font-size: 14px;
    float: right;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

.head {
    text-align: center;
    padding-top: 20px;
}

.head img {
    border: 3px solid var(--color-primary);
    border-radius: 5%;
}

.side-img {
    display: block;
    margin: auto;
    max-width: 95%;
    border: 1px solid var(--color-text-primary);
}

/* #################### */
/* Type Styles          */
/* #################### */
@media (min-width: 55em) {
    .side-img {
        display: block;
        clear: both;
        width: 400px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .right-img {
        float: right;
    }
    .left-img {
        float: left;
    }
}
