/* #################### */
/* Presets              */
/* #################### */
:root {
    --color-primary: #8bbaed;
    --color-secondary: #b8c3d1;
    --color-text-primary: #555555;
    --color-text-secondary: #ffffff;
    --color-background-light: #f4f4f4;
    --color-background-dark: #333333;
}

h2[id]:target {
   background-color: var(--color-secondary);
}

/* #################### */
/* Main Elements        */
/* #################### */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body {
    background-color: var(--color-background-light);
    color: var(--color-text-primary);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    margin: 0;
}

header {
    width: 100%;
    height: 53;
    text-overflow: hidden;
    background-color: var(--color-background-dark);
    color: var(--color-text-secondary);
    position: fixed;
}

main {
    margin: auto;
    max-width: 900px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 5px;
    padding-left: 5px;
}

footer {
    text-overflow: hidden;
    background-color: var(--color-background-dark);
    color: var(--color-text-secondary);
    position: static;
    bottom: 0;
    padding-top: 10px;
    min-height: 50px;
}

.container {
    overflow: hidden;
}

.container h2 {
    text-decoration: none;
    color: var(--color-background-light);
    background-color: var(--color-background-dark);
    border-radius: 9px;
    padding: 4px;
    padding-bottom: 10px;
    padding-left: 8px;
}

.paragraph {
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.popup {
    padding: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    max-width:250px;
    display: none;
    z-index: 10;
    position: fixed;
    background-color: var(--color-background-light);
    border-radius: 5px;
    border: 6px solid var(--color-primary);
}

.popup img {
    display: block;
    margin: auto;
    border: 1px solid var(--color-text-primary);
}

.popup-cover{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--color-background-dark);
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
    opacity: .5;
}

/* #################### */
/* Link Buttons         */
/* #################### */

a {
    padding: 8px;
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-background-light);
    border-radius: 5px;
}

a:hover {
    background-color: var(--color-secondary);
    color: var(--color-text-primary);
}

/* #################### */
/* Header               */
/* #################### */
header a, header a:hover {
    color: inherit;
    background-color: inherit;
}

.nav-bar a {
    float: left;
    text-align: center;
    padding: 14px 10px;
    border-radius: 0px;
}

.nav-bar a:hover {
    background-color: var(--color-secondary);
    color: var(--color-text-primary);
}

.nav-bar a.active {
    background-color: var(--color-primary);
}

.nav-bar {
    max-width: 900px;
    margin: auto;
}

/* #################### */
/* Code Blocks          */
/* #################### */
code {
    display: block;
}

pre {
    margin: 0px;
    overflow:auto;
    padding: 20px;
    border: 0px solid;
    border-radius: 10px;
    background-color: var(--color-text-secondary)
}

/* #################### */
/* Effects              */
/* #################### */
.typewriter {
  width: max-content;
  display: inline-block;
}

.typewriter h1 {
  font-family: 'Courier New', monospace;
  overflow: hidden;
  border-right: 3px solid var(--color-text-primary);
  white-space: nowrap;
  margin: 0 auto;
  margin-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  animation: 
    typing 1.25s steps(12, end),
    .75s blink-caret 1.6s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: inherit; }
}


/* #################### */
/* Specifics            */
/* #################### */
.heading-button {
    font-size: 14px;
    float: right;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

.head {
    text-align: center;
    margin-top: 20px;
    border: 0px solid;
    background-image: linear-gradient(to bottom right, var(--color-primary), var(--color-secondary));
    border-radius: 20px;
    padding-right: 0;
}

.head a {
    padding: 8px;
    text-decoration: none;
    background-color: var(--color-background-light);
    color: var(--color-primary);
    border-radius: 5px;
}
 
.head a:hover {
    background-color: inherit;
    color: inherit
}

.head img {
    border: 0px solid;
    border-radius: 17px;
}

.paragraph img {
    border: 0px solid;
    border-radius: 10px;
}

.side-img {
    display: block;
    margin: auto;
    max-width: 95%;
    margin-top: 2.5%;
    background-color: var(--color-background-light)
}

/* #################### */
/* Type Styles          */
/* #################### */
@media (min-width: 55em) {
    .side-img {
        display: block;
        clear: both;
        width: 400px;
        margin: 5px;
    }
    .right-img {
        float: right;
    }
    .left-img {
        float: left;
    }
}
