.linkButton {
  display: inline-block;
}

.linkButton a {
  color: var(--color-text-primary);
  background-color: none;
  display: flex;
  text-decoration: none;
  text-align: center;
}

.linkButton a:hover {
  text-decoration: underline;
}

.linkButton div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
