.card {
  text-align: center;
  border: 0px solid;
  margin-top: 50px;
  display: inline-block;
  align-items: center;
  width: 90%;
}

.image {
  border-radius: 17px;
}

.card ul {
  margin: 10px;
  width: 100%;
}

.card li {
  justify-content: center;
  padding: 7px;
  margin-bottom: 5px;
  display: inline-flex;
  width: 100%;
}

.right {
  border-top: 1px solid var(--color-text-primary);
  margin-top: 30px;
}

.centered {
  display: flex;
  justify-content: center;
}



@media (min-width: 900px) {
  .left {
    float: left;
  }
  .right {
    float: right;
    border-left: 1px solid var(--color-text-primary);
    border-top: none;
    margin-left: 30px;
    padding-left: 20px;
  }

  .card li {
    margin: 0;
    display: block;
    text-align: left;
  }
  .card {
    margin-top: 0;
    display: flex;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
  }
}
