.markdown img {
  margin: auto;
  max-width: 100%;
  border-radius: 7px;
}

.markdown {
  display: inline-block;
  max-width: 100%;
}

.markdown h1 {
  font-size: 24px;
}

.markdown h2 {
  font-size: 20px;
}

.markdown h3 {
  font-size: 16px;
}

.markdown a {
  color: var(--color-text-primary);
  text-decoration: underline;
  padding: 0px 3px;
}

.markdown code {
  font-family: 'Source Code Pro', monospace;
  background-color: lightgray;
  padding: 0px 3px;
  border-radius: 5px;
}

.markdown pre {
  margin: 0px;
  margin-top: 20px;
  overflow: auto;
  padding: 20px;
  border: 0px solid;
  border-radius: 7px;
  background-color: var(--color-text-secondary)
}

.markdown pre code {
  background-color: var(--color-text-secondary)
}
