.sidebar {
  position: fixed;
  transition: all 0.25s;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  background-color: var(--color-background-light);
  overflow: auto;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
  display: none;
}


.body {
  padding-top: 100px;
}

.header {
  width: 100%;
  padding-top: 60px;
  height: 130px;
  background-color: inherit;
  position: fixed;
  z-index: 1;
}

.item {
  padding: 40px;
  font-size: 14px;
  display: block;
  max-width: 900px;
}

.button {
  cursor: pointer;
  background-color: var(--color-text-primary);
  border: none;
  border-radius: 100%;
  color: var(--color-text-secondary);
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 10px;
  position: fixed;
}

.button svg {
  width: 50px;
  height: 50px;
}

.hide {
    margin-right: -100%;
}

@media (min-width: 900px) {
  .sidebar {
    width: 60%;
    border-left: 3px solid var(--color-primary);
  }
  .hide {
    margin-right: -60%;
  }

}
